<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>re_source</servlet-name>
        <servlet-class>eu.monnetproject.re_source.servlet.Re_SourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ontology</servlet-name>
        <servlet-class>eu.monnetproject.re_source.servlet.OntologyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>re_source</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ontology</servlet-name>
        <url-pattern>/ontology</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
